body{
    width: 100%;
    margin: 0 auto;
}
.image_size{
    max-width: 1350px;
}
.image_size img{
    width:100%;
    /* overflow-y: hidden; */
    height: -webkit-fill-available;
    z-index: -1;
    position: relative;
    position: absolute;
    opacity: 0.7;
}

.numric_keey{
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    background-color: #444;
    opacity: 0.8;
    position: relative;
    top: 300px;
    left: 4%;
    cursor: context-menu;
}
.numric_keey span{
    color: #fff;
    top: 22%;
    position: relative;
    left: 33%;
    font-size: 26px;
}
.key_name ul{
    list-style-type: none;
}
.key_name ul li{
    display: inline-block;
    padding: 0px 34px;
}